 <div class="row">
   <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="../../../assets/Foto-Perfil.JPG" class="img-fluid" id="fotodeperfil">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-log-2">
     <p id="nombre">Baldovino Vanina Elizabeth</p>
     <p>Full Stack Developer Jr</p>
  </div>
   <div class="col-xs-12 col-sm-8 col-md-8 col-log-8">
     <span>
          <h1>Acerca de mi</h1>
          <p>Soy Estetisista y en mis ratos libres me gusta leer, tocar guitarra,dibujar y pintar. En relación a ello estoy estudiando un profesorado de Pintura y ademas del curso de Inglés para Desarrolladores de Software, me gusta aprender sobre diversos temas.</p>
     </span>
  </div>
</div>