<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1> Compra y Venta de Indumentaria</h1> - <h3>(6years)</h3></li>
            <p>PRESENTE</p>
        </ul>
        <ul>
            <li><h1>Peluquería y Estetica</h1> - <h3>(10years)</h3></li>
            <p>Presente</p>
        </ul>
        <ul>
            <li><h1>Salón de Belleza</h1> - <h3>(1years)</h3></li>
            <p>Rosa Cadenas</p>
        </ul>
    </div>
</div>
