<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1> Estudios Secundarios Completo</h1> - <h3>(2010)</h3></li>
            <p>Instituto Popular de Mercedes "Manuel López Rodriguez" - (Titulo - Aux. de Enfermería)</p>
        </ul>
        <ul>
            <li><h1> Estudio Terciario</h1> - <h3>(2012)</h3></li>
            <p>Peluquería y Estetica-"Damas Patricias"</p>
        </ul>
        <ul>
            <li><h1> Profesorado de Pintura</h1> - <h3>(2022-2023)</h3></li>
            <p> Cursando el primer año en Eskaparte-Mercedes</p>
        </ul>
        <ul>
            <li><h1>Estudios Complementarios</h1> - <h3>(2022-Cursando)</h3></li>
            <p>Curso de Inglés para Desarrolladores de Software</p>
        </ul>
    </div>
</div>

